In [25]:
#list 

A = [1,2,3,4,5]
A.append(6)
print(A)

[1, 2, 3, 4, 5, 6]

In [2]:
A = [1,2,3,4,5]
A.pop()
print(A)

[1, 2, 3, 4]

In [10]:
A = [3,4,5,6,1,2,]
A.sort()
print(A)

[1, 2, 3, 4, 5, 6]

In [11]:
A = [1,2,3,4,5]
Pos = A.index(3)
print(Pos)

2

In [12]:
A = [1,2,3,4,5]
B = [6,7,8,9,10]
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
#dictionary

dict = {1: 'one', 2:'two',3:'three'}
dict.keys()

dict_keys([1, 2, 3])

In [17]:
dict = {1: 'one', 2:'two',3:'three'}
dict.values()

dict_values(['one', 'two', 'three'])

In [18]:
dict = {1: 'one', 2:'two',3:'three'}
dict.get(1)

'one'

In [21]:
dict = {1: 'one', 2:'two',3:'three'}
dict.update({4:'four'})
print(dict)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [22]:
dict = {1: 'one', 2:'two',3:'three'}
a = dict.copy()
print(a)

{1: 'one', 2: 'two', 3: 'three'}

In [23]:
#Sets

set_A = {'one','two','three'}
set_A.add('four')
print(set_A)

{'one', 'three', 'four', 'two'}

In [24]:
set_A = {'one','two','three'}
set_A.pop()
print(set_A)

{'three', 'two'}

In [28]:
set_A = {'one','two','five','six'}
set_B = {'one','two','three','four'}
temp_set= set_A.difference(set_B)
print(temp_set)

{'six', 'five'}

In [32]:
set_A = {'one','two','five','six'}
set_B = {'one','two','three','four'}
temp_set = set_A.union(set_B)
print(temp_set)

{'five', 'four', 'one', 'six', 'three', 'two'}

In [33]:
set_A = {'one','two','five','six'}
set_B = {'one','two','three','four'}
temp_set = set_A.isdisjoint(set_B)
print(temp_set)

False

In [35]:
#tuple


T = (1,2,3,4,5,1,2,3,4,4)
T.count(4)

3

In [37]:
T = (1,2,3,4,5,1,2,3,4,4)
T.index(5)

4

In [38]:
T = (1,2,3,4,5,1,2,3,4,4)
len(T)

10